<!DOCTYPE html>
<html>
<head>
  <%include ../partials/head %>
</head>

<body>
  <div class="jumbotron" id="fortop" align="center">
    <h1 style="color:white;">Candidates</h1>
  </div>
  <div class="container">
    <div class="well">No Candidates: Guess everybody's enrolled </div>
  </div>

  <div class="row">
    <div class="col-sm-2"> </div>
    <div class="col-sm-8">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>

        <tr >
          <% for(var i=0; i<candidates.length; i++) {%>
              <td><a href="/party/candidates/<%=parties[0].name%>/show/<%=candidates[i]._id%>"><%= candidates[i].name %></a></td>
              <td><%= candidates[i].age %></td>
              <td><%= candidates[i].address %></td>
            </tr>
            <% } %>

    </tbody>
  </table>
  </div>
  <div class="col-sm-2">

  </div>

  </div>
</body>
</html>
