<!DOCTYPE html>
<html>
<head>
  <%include ../partials/head %>
</head>

<body>
  <%include ../partials/cnav %>
  <h3><a href="#">Your Details</a></h3>
<div class= "row">
  <div class="col-sm-6" >

  <table class="table">
     <thead>
       <tr>
         <th>#</th>
         <th>Current Information</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>Name </td>
         <td><%= candidates.name %></td>
       </tr>
       <tr class="success">
         <td>Party</td>
         <td> <%= candidates.party %></td>
       </tr>
       <tr class="danger">
         <td>Address</td>
         <td><%= candidates.address %></td>
       </tr>
       <tr class="info">
         <td>Age </td>
         <td><%= candidates.age %></td>
       </tr>
     </tbody>
   </table></div>

  <div class="col-sm-6" >
    <h4> Update Information </h4>
    <form action="/candidates/update/<%= candidates._id %>" method="post">

    <div class="form-group"  >
        <input type="text" name="name" class="form-control" value="<%= candidates.name %>"  placeholder="name" >
        <input type="hidden" name="party" class="form-control" value="<%= candidates.party %>"  placeholder="Party" >
        <input type="text" name="address" class="form-control" value="<%= candidates.address %>"  placeholder="Address" >
        <input type="number" min ="18" name="age" class="form-control" value="<%= candidates.age %>"  placeholder="Age" >
      </div>
      <button type="submit" class="btn btn-primary" name="button" > Update </button>
      </form>
   </div>

</div>


</body>
</html>
